/*
		Helper classes
*/

.cl:after {
	content: "";
	display: table;
	clear: both;
}

/*
		Grid
*/

.container {

	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.row { margin: 0 -10px; }

.col {
	float: left;
	padding: 0 10px;
}

.col2 { width: 140px; }

.col3 { width: 220px; }

.col4 { width: 300px; }

.col5 { width: 380px; }

.col6 { width: 460px; }

.col8 { width: 620px; }

.col9 { width: 700px; }

.col-offset1 { margin-left: 80px; }

.col-offset3 { margin-left: 240px; }

.page-banner { margin-bottom: 73px; }

.price-content { margin-bottom: 68px; }

/* 
		Fonts, design
*/

body {
	margin: 0;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.title {
	margin: 0;
	margin-bottom: 15px;
	font-size: 30px;
	line-height: 42px;
}

.index-title { margin-bottom: 24px; }

.content-column-title {
	margin-top: 56px;
	font-size: 24px;
	line-height: 42px;
}

.catalog-title {
	margin: 0;
	font-size: 14px;
	line-height: 18px;
}

.filter-title {
	margin-bottom: 14px;
	padding: 0;
	font-size: 24px;
	line-height: 42px;
}

/* 
=========================
	INDEX.HTML
=========================
*/

/*
	WRAPPER
*/

.index-page-wrapper { background: #070707 url(../img/bg-index.jpg) center top no-repeat; }

/*
	HEADER
*/

.index-page-header { 
	margin-bottom: 57px;
	background-color: #000; 
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.main-navigation li, .login {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 42px;
}

.main-navigation a {
	display: block;
	padding: 15px 21px;
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
}

.main-navigation a:hover { background-color: #242424;}

.active a { position: relative; }

.active a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 22px;
	right: 22px;
	height: 4px;
	background-color: #fff;
}

.active a:hover { background: none;}

.login {
	position: relative;
	float: right;
	padding: 15px 22px;
	padding-left: 53px;
	color: #fff;
	text-decoration: none;
}

.login::before {
	content: "";
	position: absolute;
	top: 28px;
	left: 21px;
	width: 18px;
  height: 16px;
  background-image: url(../img/sprite-icon-set.png);
  background-repeat: no-repeat;
  background-position: -236px -10px;
  opacity: .3;
}

.login:hover { background-color: #242424;}

.login:hover::before { opacity: 1; }

/*
	LOGO
*/

.logo {
	width: 368px;
	height: 204px;
	margin: 0 auto;
	margin-bottom: 23px;
}

.logo img {
	width: 368px;
	height: 204px;
}

/*
	FEATURES
*/

.features-row { margin-bottom: 65px;}

.features-item {
	color: #fff;
	text-align: center;
}

.features-title { 
	position: relative;
	padding-bottom: 38px;
	margin-bottom: 34px;
}

.features-title::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

/*
	CONTENT
*/

.index-content {
	margin-bottom: 34px;
	padding-top: 45px;
	padding-bottom: 54px;
	background: 
	url(../img/bg-shadow.png) no-repeat center,
	#f7f4f1 url(../img/bg-pattern-white.jpg);
}

/* News Block */

.news-preview {
	margin: 0;
	padding: 0;
	list-style: none;
}

.news-preview li { margin-bottom: 25px; }

.news-preview li:last-child { margin-bottom: 31px; }

.news-preview time { 
	font-weight: 400;
	text-transform: none; 
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding-left: 33px;
	padding-right: 33px;
	margin-right: 16px;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 43px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover,
.btn-active {
	background-color: #663d15;
}

/* Gallery Block */

.gallery { 
	position: relative;
	height: 258px; 
	margin-top: 32px;
}

.gallery-content {
	height: 164px;
	margin: 0;
	border: 7px solid #fff;
	background: #ccc;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}

.gallery-prev { left: 0; }

.gallery-next { right: 0; }

/* Contacts Block */

.main-contacts p {
	margin: 0;
	margin-bottom: 25px;
}

.main-contacts p:last-of-type { margin-bottom: 46px; }

/* Appointment form Block */

.appointment-form input {
	float: left;
	margin-right: 20px;
	margin-bottom: 19px;
	width: 108px;
	padding-right: 14px;
	padding-left: 14px;
	border: 2px solid #000;
	font-family: 'PT Sans Narrow', 'Arial', sans-serif;
	font-size: 14px;
	line-height: 38px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	background-color: #f9f6f3;4
}

.appointment-form input:nth-of-type(2n) { margin-right: 0; }

.appointment-form input:focus { 
	outline: none;
	border: 2px solid #663d15; 
}

.appointment-form .btn {
	width: 100%;
	margin-top: 16px;
	clear: both;
}

.appointment-form p { margin-bottom: 25px; }

::-webkit-input-placeholder { color:#000; }
::-moz-placeholder          { color:#000; } /* Firefox 19+ */
:-moz-placeholder           { color:#000; } /* Firefox 18- */
:-ms-input-placeholder      { color:#000; }

:focus::-webkit-input-placeholder { color: transparent; }
:focus::-moz-placeholder          { color: transparent; }
:focus:-moz-placeholder           { color: transparent; }
:focus:-ms-input-placeholder      { color: transparent; }

/*
	FOOTER
*/

.page-footer {
	margin-top: 64px;
	padding-top: 63px;
	padding-bottom: 38px;
	color: #fff;
	background: #222 url(../img/bg-pattern-black.jpg);
}

.page-footer p { margin: 0; }

.footer-contacts a { color: #fff; }

.footer-contacts a:hover { text-decoration: none; }

.footer-social p { 
	margin-left: 17px; 
	margin-bottom: 16px;
}

.footer-copyright p { 
	text-align: center;
	margin-bottom: 16px;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 43px;
	height: 43px;
	margin-right: 6px;
	font-size: 0;
	text-decoration: none;
	background: #000 url(../img/sprite-icon-set.png) no-repeat;
}

.social-btn:hover { background-color: #fff; }

.social-btn-vk { background-position: -391px 3px; }

.social-btn-fb { background-position: -107px -1px; }

.social-btn-inst { background-position: -183px 0; }

.social-btn-vk:hover { background-position: -346px 3px }

.social-btn-fb:hover { background-position: -75px -1px; }

.social-btn-inst:hover { background-position: -142px 0; }

.footer-copyright .btn {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.footer-copyright .btn:hover {
	color: #000;
	background-color: #fff;
}

/* 
=========================
	CATALOG-ITEM.HTML
=========================
*/

.page-wrapper {
	background: #f7f4f1 url(../img/bg-pattern-white.jpg);
}

.page-header { 
	margin-bottom: 50px;
	background-color: #000; 
}

/*
	BREADCRUMBS
*/

.breadcrumbs {
	margin: 0;
	padding: 0;
	margin-bottom: 56px;
	list-style: none;
	font-size: 0;
}

.breadcrumbs li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
}

.breadcrumbs a {
	display: block;
	margin-right: 40px;
	color: #000;
	text-decoration: none;
}

.breadcrumbs-active { color: #aba9a7; }

.breadcrumbs li:not(:last-child)::after {
	content: "";
	position: absolute;
	top: 8px;
	right: 15px;
	display: block;
	width: 7px;
	height: 7px;
	background-color: #000;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

/*
	GALLERY
*/

.gallery-big, .gallery-small {
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery-big li, .gallery-big img {
	width: 460px;
	height: 498px;
}

.gallery-small li, .gallery-small img {
	width: 140px;
	height: 149px;
}

.gallery-big li, .gallery-small li { 
	box-shadow: 0 0 15px rgba(0,1,1,.2); 
}

.gallery-big li { 
	display: none;
	margin-bottom: 21px;
}

.gallery-big li.gallery-big-active { display: block; }

.gallery-small { font-size: 0; }

.gallery-small li { 
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}

.gallery-small li:last-child { margin-right: 0; }

/*
	INFOBLOCK
*/

.infoblock {
	padding-top: 18px;
	padding-right: 11px;
}

.infoblock span {
	float: right;
	color: #aeaeae;
}

.infoblock p { 
	margin-top: 31px;
	margin-bottom: 37px;
}

.btn-action { font-size: 0; }

.btn-action-info {
	display: inline-block;
	width: 109px;
	height: 43px;
	overflow: hidden;
	font-size: 14px;
	line-height: 43px;
	background-color: #e5e5e5;
	text-align: center;
}

.btn-action .btn {
	width: 78px;
	margin: 0;
	padding: 0;
	text-align: center;
}

/*
	LIST
*/

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list li { 
	position: relative; 
	padding-left: 22px;
}

.list li::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 2px;
	display: block;
	width: 8px;
	height: 8px;
	background-color: #000;
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			 -o-transform: rotate(45deg);
	        transform: rotate(45deg);
}

/* 
=========================
	CATALOG.HTML
=========================
*/

/*
	FILTER
*/

.filter fieldset { border: none;}

.filter input[type="checkbox"],
.filter input[type="radio"] { display: none; }

.filter input[type="checkbox"] + label,
.filter input[type="radio"] + label {
	position: relative;
	display: block;
	padding-left: 44px;
	margin-bottom: -10px;
}

.filter input[type="checkbox"] + label:last-child { margin-bottom: 28px; }

.filter input[type="radio"] + label:last-child { margin-bottom: 40px; }

.filter input[type="checkbox"] + label::before,
.filter input[type="radio"] + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
  height: 20px;
}

.filter input[type="checkbox"] + label::before {
	background-image: url(../img/sprite-icon-set.png);
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.filter input[type="checkbox"]:checked + label::before { background-position: -50px -10px; }

.filter input[type="radio"] + label::before {
	background-image: url(../img/sprite-icon-set.png);
  background-repeat: no-repeat;
  background-position: -274px -10px;
}

.filter input[type="radio"]:checked + label::before { background-position: -314px -10px; }

.filter .btn {
	width: 112px;
	padding: 0;
}

/*
	CATALOG
*/

.catalog { 
	margin-bottom: 47px;
	font-size: 0; 
}

.catalog-item { 
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 14px;
	background-color: #fff;
	box-shadow: 0 0 15px rgba(0,1,1,.2); 
}

.catalog-item:nth-child(3n) { margin-right: 0; }

.catalog-image {
	position: relative;
	display: block;
	width: 220px;
	height: 165px;
	overflow: hidden;
}

.catalog-image img {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
  height: auto;
  margin: auto;
}

.catalog-info {
	padding: 16px;
	padding-top: 11px;
}

.catalog-title a {
	color: #000;
	text-transform: none;
	text-decoration: none;
}

.catalog-info .catalog-title { margin-bottom: 13px; }

/*
	PAGINATION
*/

.pagination { 
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.pagination li {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	margin-top: 26px;
	font-size: 14px;
}

.pagination a {
	display: block;
	width: 43px;
	height: 43px;
	color: #fff;
	text-decoration: none;
	line-height: 43px;
	text-align: center;
	background-color: #000;
}

.pagination a:hover { background-color: #663d15; }

.pagination-active {
	width: 43px;
	height: 43px;
	color: #000;
	line-height: 43px;
	text-align: center;
	background-color: #fff;
}




/*
	Sprite
*/

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-icon-checkbox {
    width: 20px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-icon-checkbox-active {
    width: 20px;
    height: 20px;
    background-position: -50px -10px;
}

.sprite-icon-facebook-black {
    width: 12px;
    height: 22px;
    background-position: -90px -10px;
}

.sprite-icon-facebook-white {
    width: 12px;
    height: 22px;
    background-position: -122px -10px;
}

.sprite-icon-instagram-black {
    width: 21px;
    height: 21px;
    background-position: -154px -10px;
}

.sprite-icon-instagram-white {
    width: 21px;
    height: 21px;
    background-position: -195px -10px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -236px -10px;
}

.sprite-icon-radio {
    width: 20px;
    height: 20px;
    background-position: -274px -10px;
}

.sprite-icon-radio-active {
    width: 20px;
    height: 20px;
    background-position: -314px -10px;
}

.sprite-icon-vk-black {
    width: 25px;
    height: 16px;
    background-position: -354px -10px;
}

.sprite-icon-vk-white {
    width: 25px;
    height: 16px;
    background-position: -399px -10px;
}



